@font-face {
    font-family: myFisrtFont;
    src: url(headphones/spincycle_3d_ot.otf);
}

/* Our Results Section */

.our_results{
    background: url(images/headphones_hero_2.jpg);
    background-color: #D8D8D8 ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.our_results h2 {
    font-size: 32px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    padding-top: 50px;
    text-align: center;
    margin: 0;
}

.our_results p {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
    width: 637px;
    margin-top: 20px;
    margin-bottom: 0;
}

.our_results > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pentagon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 6vmin;
    padding-bottom: 50px;
}

.pentagon img {
    margin-left: 10vw;
}

/* Responsive Design */
/* Tablet */

@media screen and (max-width : 768px) {
    .pentagon {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .row1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .row2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 10vmin;
        margin-top: 5%;
    }

    #img_1, #img_3 {
        margin-left: 15rem;
    }
}

/* Mobile Phones */

@media screen and ( max-width : 480px) {
    .our_results {
        background-position: center;
    }
    .our_results h2 {
        width: 95%;
    }

    .our_results p {
        width: 95%;
    }

    .row1 {
        padding-top: 10vmin;
    }

    .row1, .row2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 180px;
    }

    #img_1, #img_3, #img_2 {
        margin-left: 0;
        margin-top: 10vmin;
    }
}

