@font-face {
    font-family: myFisrtFont;
    src: url(headphones/spincycle_3d_ot.otf);
}

/* Footer */

footer {
    background-color: #071629;
}

.social_icons1 a {
    color: white;
    text-decoration: none;
}

.social_icons1 {
    margin-left: auto;
    margin-right: 15rem;
}

.footer_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.footer_content a:first-child {
    margin-left: 8rem;
}

footer p {
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-bottom: 50px;
    margin-top: 20px;
}

/* Responsiveness */
/* Tablet */

@media screen and (max-width: 768px ) {
    .social_icons1 {
        margin-right: 3rem;
    }

    .footer_content a:first-child {
        margin-left: 3rem;
    }
}

/* Mobile Devices */

@media screen and (max-width: 480px) {
    .footer_content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .social_icons1 {
        margin: 0;
        margin-top: 1rem;
    }

    .footer_content a:first-child  {
        margin: 0;
    }

    .social_icons1 a {
        margin-left: 1rem;
    }
}